body {
    background-color: #f8fafc;
    min-height: 100%;
}

@media (min-width: 768px) {
    .remember-me {
        margin-left: 18.4%;
    }
}

.content {
    padding-top: 40px;
    font-size: 18px;
}

.container {
    width: 80% !important;
    display: flex;
    justify-content: center;
}
